@mixin text-item {
  & h3 {
    color: #000000;
    font-family: $second-font;
    font-weight: $main-font-weight;
    line-height: $main-line-height;
    font-size: $small-header-size;
  }
  & p {
    color: $second-color;
    font-family: $main-font;
    font-weight: $main-font-weight;
    line-height: $second-line-height;
    font-size: $main-font-size;
  }
}

@mixin text-content {
  text-align: center;
  & h2, & h3 {
    color: $header-color;
    font-family: $header-font;
    font-weight: $main-font-weight;
    line-height: $main-line-height;
    font-size: $big-header-size;
  }
  & p {
    color: $second-color;
    font-family: $main-font;
    font-weight: $main-font-weight;
    line-height: $second-line-height;
    font-size: $main-font-size;
  }
}