$bg-image-color: #FFFFFF;
$main-color: #17DAA3;
$second-color: #87949E;
$header-color: #576671;
$light-background: #F9F9FA;

$main-font: 'Roboto', sans-serif;
$header-font: 'Raleway - Extra Light', sans-serif;
$second-font: 'Raleway', sans-serif;

$main-font-weight: 400;
$second-font-weight: 300;

$main-line-height: 96px;
$second-line-height: 30px;

$big-header-size: 60px;
$small-header-size: 30px;
$main-font-size: 18px;
